.bg{width:100%}

.Form{width: 35%;height: 470px;background-color: #fff;position: relative;top: -595px;margin:auto;opacity: 0.3;border: 3px solid pink;border-radius: 40px;}

.Login{ width: 35%;position: absolute;top: 155px;text-align: center;margin-left: 485px;}

.content{font-family:system-ui;font-size:2.5rem;font-weight:600;color:#fff;}

.Username{ width: 30%;position: absolute;top: 262px;margin-left: 525px;height: 50px;border: 2px solid #fff;border-radius: 40px;}
.Username:hover{ background-color:#fff;opacity:0.5 }

.content-1{font-family:system-ui;font-size:1rem;font-weight:300;color:#fff;margin-left: 35px;display: flex;padding-top: 12px;}

.img1{width: 25px;height: 25px;position: absolute;top: 12px;margin-left: 400px;}

.Password{ width: 30%;position: absolute;top: 355px;margin-left: 525px;height: 50px;border: 2px solid #fff;border-radius: 40px;}
.Password:hover{ background-color:#fff;opacity:0.5 }


.content-2{font-family:system-ui;font-size:1rem;font-weight:300;color:#fff;margin-left: 35px;display: flex;padding-top: 12px;}

.img2{width: 25px;height: 25px;position: absolute;top: 12px;margin-left: 400px;}

.confirm{display:flex;position: absolute;top: 430px;margin-left: 530px;}

.sub-div{}

.lbl{font-size: 1rem;font-family: system-ui;color: #fff;font-weight: 400;}

.sub1{margin-left:187px}

.lbl1{font-size: 1rem;font-family: system-ui;color: #fff;font-weight: 400;}
.lbl1:hover{color:blue;}

.Submit{position: absolute;top: 476px;margin-left: 532px;border: 2px solid #fff;height: 45px;border-radius: 45px;width: 30%;background-color:#fff;}
.Submit:hover{background-color:#007bff;}

.btn{font-family:system-ui;font-size:1.5rem;font-weight:600;margin-left: -25px;display: flex;padding-top: 5px;justify-content:center;}

.Acc{position: absolute;top: 520px;margin-left: 566px;height: 45px;width: 30%;}

.Acc1{font-family:system-ui;font-size:1rem;font-weight:600;color:#fff;margin-left: 35px;display: flex;padding-top: 12px;}

.Reg{position: absolute;top: 520px;margin-left: 577px;height: 45px;width: 30%;}

.Reg1{font-family:system-ui;font-size:1rem;font-weight:600;color:#fff;margin-left: 200px;display: flex;padding-top: 12px;}
.Reg1:hover{color:blue;}
